.*.sw?
*~
*.rpt
db/
terminal.qws
incremental_db/
output_files/
simulation/
timing/
testbench/
greybox_tmp
*_sim/
cpu_rom.mif

fw/*.o
fw/test
fw/test.bin
fw/test.dump
fw/test.map

firmware/*.list
firmware/*.rom
