.*.sw?
*~
*.rpt
*.bak
db/
terminal.qws
incremental_db/
output_files/
simulation/
timing/
testbench/
greybox_tmp
*_sim/
cpu_rom.mif
firmware/build
firmware/lib/build
firmware/parser/build
uart/divisors
